<form action="#" id="add-todo-form" method = "post">
    <div class="form-group input-group">
    <input class="form-control" type="text" name="" placeholder="Add a Todo" value="" id="add-todo-text">
    <span class="input-group-btn">
        <input class="btn btn-default" type="button" value="add"> 

    </span>
    </div>
</form>